.dialog{
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 20px;
    color: gray;
}

.dialog_item{
    text-decoration: none;
    font-weight: 500;
}

.dialog.active {
    color: #47dbf0;
    font-size: 18px;
    background-color: #6490b1;
}
.dialog:hover{
    color: #47dbf0;
    background-color: #6490b1;
}
.dialog:hover .dialog_item{
    color: #ffffff;
}
