.header {
    grid-area: h;
    background-color: #3684bc;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #1d1d1d;

}
.header h1{
    padding: 0;
    font-weight: 300;
    margin: 0;
    font-family: "Roboto Medium";
    margin-left: 50px;
    color: #ffffff;
}
