.nav {
    grid-area: n;
    background-color: #265D84;
    padding: 20px;
}
.item{
    padding: 10px 0;
}

.item a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.item a:hover{
    color: #d6d6d6;
}
.item a.active {
    color: #82e6d7;
}